In [1]:
#커피자판기
#남은 커피가 있으면 판매=>판매=>판매=> 더이상 커피가 없으면 판매중지..

coffee = 10
money = 300

while money:
  print("커피를 판매합니다.")
  coffee -= 1   #coffee = coffee - 1
  print("남은 커피의 양은 %d개 입니다." %coffee)
  if coffee == 0:
    print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
    break

커피를 판매합니다.
남은 커피의 양은 9개 입니다.
커피를 판매합니다.
남은 커피의 양은 8개 입니다.
커피를 판매합니다.
남은 커피의 양은 7개 입니다.
커피를 판매합니다.
남은 커피의 양은 6개 입니다.
커피를 판매합니다.
남은 커피의 양은 5개 입니다.
커피를 판매합니다.
남은 커피의 양은 4개 입니다.
커피를 판매합니다.
남은 커피의 양은 3개 입니다.
커피를 판매합니다.
남은 커피의 양은 2개 입니다.
커피를 판매합니다.
남은 커피의 양은 1개 입니다.
커피를 판매합니다.
남은 커피의 양은 0개 입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [7]:
coffee = 10
while True:
  money = int(input("돈을 넣어 주세요 : "))
  if money == 300:
    print("커피를 드립니다")
    coffee -= 1
  elif money > 300:
    print("거스름돈 %d원을 주고 커피를 드립니다."%(money-300))
    coffee -= 1
  else :
    print("돈을 다시 돌려 드리고 커피는 드리지 않습니다.")
  print("남은 커피의 양은 %d개 입니다."%coffee)
  if coffee == 0:
    print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
    break

돈을 넣어 주세요 : 300
커피를 드립니다
남은 커피의 양은 9개 입니다.
돈을 넣어 주세요 : 100
돈을 다시 돌려 드리고 커피는 드리지 않습니다.
남은 커피의 양은 9개 입니다.
돈을 넣어 주세요 : 400
거스름돈 100원을 주고 커피를 드립니다.
남은 커피의 양은 8개 입니다.
돈을 넣어 주세요 : 300
커피를 드립니다
남은 커피의 양은 7개 입니다.
돈을 넣어 주세요 : 200
돈을 다시 돌려 드리고 커피는 드리지 않습니다.
남은 커피의 양은 7개 입니다.
돈을 넣어 주세요 : 300
커피를 드립니다
남은 커피의 양은 6개 입니다.
돈을 넣어 주세요 : 300
커피를 드립니다
남은 커피의 양은 5개 입니다.
돈을 넣어 주세요 : 300
커피를 드립니다
남은 커피의 양은 4개 입니다.
돈을 넣어 주세요 : 00
돈을 다시 돌려 드리고 커피는 드리지 않습니다.
남은 커피의 양은 4개 입니다.
돈을 넣어 주세요 : 300
커피를 드립니다
남은 커피의 양은 3개 입니다.
돈을 넣어 주세요 : 300
커피를 드립니다
남은 커피의 양은 2개 입니다.
돈을 넣어 주세요 : 1000
거스름돈 700원을 주고 커피를 드립니다.
남은 커피의 양은 1개 입니다.
돈을 넣어 주세요 : 200
돈을 다시 돌려 드리고 커피는 드리지 않습니다.
남은 커피의 양은 1개 입니다.
돈을 넣어 주세요 : 3000
거스름돈 2700원을 주고 커피를 드립니다.
남은 커피의 양은 0개 입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [8]:
a = 0
while a < 10 :
  a+=1
  if a % 2 == 0 : continue
  print(a)

1
3
5
7
9

In [9]:
# For 반복문
# 파이썬의 직관적인 특징을 잘 보여주는 것이 for문이다.
# while문과 비슷하지만 for 문은 매우 많이 사용되고 문장 구조가 한눈에 파악하기 쉽다.
list = [1,2,3,4,5]
for i in list:
  print(i)

1
2
3
4
5

In [10]:
a = [(1,2),(3,4),(5,6)]
for x, y in a:
  print(x,y)

1 2
3 4
5 6

In [12]:
#Quiz 5명의 학생 점수에서 60점이 넘으면 합격 아니면 불합격을 출력하시오
score = [90, 70, 50, 40, 80]
student = 0
for grade in score:
  student += 1
  if grade >= 60:
    print("%d번 학생은 합격입니다."%student)
  else:
    print("%d번 학생은 불합격입니다."%student)

1번 학생은 합격입니다.
2번 학생은 합격입니다.
3번 학생은 불합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [13]:
# range 함수와 for문
# range(strat, stop, step) start 를 생략하면 0부터, step을 생략하면 1씩 증가

add = 0
for i in range (1,11):
  add+= i

print(add)

55

In [23]:
# for 문과 range를 이용하여 구구단을 표시하세요
res = 0
for i in range(2,10):
  for j in range(1,10):
    print(i*j,end=" ")
  print("")

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [24]:
# List comprehension (리스트 내포)

# Without
a = [1,2,3,4]
result = []
for n in a:
  result.append(n*3)

print(result)

[3, 6, 9, 12]

In [25]:
# with..
a = [1,2,3,4]
result = [n * 3 for n in a]
print(result)

[3, 6, 9, 12]

In [26]:
a = [1,2,3,4]
result = [n * 3 for n in a if n % 2 == 0]
print(result)

[6, 12]

In [33]:
#for문을 사용해서 1부터 100까지의 자연수 중 짝수의 합을 계산하셔요
res = 0
for i in range(0,101,2):
  res +=i
print(res)

2550

In [42]:
# while을 사용해서 아래 그림을 표시하세요
a = 1
while a < 6:
  print('*' * a)
  a+=1

*
**
***
****
*****

In [6]:
score = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0
for i in score:
  sum += i
print(sum/len(score))

79.0

In [8]:
#리스트에서 홀수만 2를 곱하여 result 리스트로 저장

n = [1,2,3,4,5]
result = [a * 2 for a in n if a % 2 != 0 ]

print(result)

[2, 6, 10]

In [10]:
#def 함수명(변수):
#  수행
#  수행
#  수행
#  return 값

def add(a,b):
  return a+b

c = add(3,4)
c

7

In [11]:
# 4가지 함수의 형태
# 1. 입력값도 있고 출력값도 있는 함수
# 2. 입력값은 있고 출력값은 없는 함수
# 3. 입력값은 없고 출력값은 있는 함수
# 4. 입력값은 없고 출력값도 없는 함수

In [20]:
# 2. 입력값은 있고 출력값은 없는 함수
def say(a):
  print(a)

say('Hi')

Hi

In [19]:
# 3. 입력값은 없고 출력값은 있는 함수
def say():
  return 'Hi'

say()

'HiHiHiHiHiHiHiHiHi'

In [16]:
# 4. 입력값은 없고 출력값도 없는 함수
def say():
  print('Hi')

say()

Hi

In [17]:
#입력이 몇개가 될 지 모를때

def add_many(*args):
  result = 0
  for i in args:
    result = result + i
  return result

add_many(1,2,3,4,5,6,7,8,9,10)

55

In [21]:
#함수의 결과값은 언제나 하나이다

def add_mul(a,b):
  return a+b, a*b
result = add_mul(3,4)
print(result)

(7, 12)

In [22]:
result1, result2 = add_mul(3,4)
print(result1)
print(result2)

7
12

In [23]:
def add_mul(a,b):
  return a+b
  return a*bin
result = add_mul(3,4)
print(result)

7

In [25]:
def say(name, old, man = True):
  print("나의 이름은 %s 입니다."%name)
  print("나이는 %d 살입니다." %old)
  if man: 
    print("남자입니다.")
  else:
    print("여자입니다.")

say("홍길동", 17)

나의 이름은 홍길동 입니다.
나이는 17 살입니다.
남자입니다.

In [26]:
say("성춘향", 14, False)

나의 이름은 성춘향 입니다.
나이는 14 살입니다.
여자입니다.

In [28]:
def say(name, old, man = True):
  print("나의 이름은 %s 입니다."%name)
  say("홍길동", 17)
  if man: 
    print("남자입니다.")
  else:
    print("여자입니다.")

  print("나이는 %d 살입니다." %old)

나의 이름은 홍길동 입니다.
남자입니다.
나이는 17 살입니다.

In [32]:
# 함수에서 선언한 변수의 효력 범위
a = 1
def vartest(a):
  a = a + 1
  return a

vartest(a)
print(vartest(a))
print(a)

2
1

In [35]:
def vartest(z):
  z = z+1

vartest(3)
print(z)

NameError: ignored

In [36]:
#람다
#def와 동일한 역할을 한다. 보통 함수를 한줄로 간단하게 만들때 사용한다

def add(a,b):
  return a+b

r = add(3,4)
print(r)

7

In [38]:
add = lambda a, b : a + b    # lambda 변수1, 변수2, ... : 변수를 이용한 식
r = add(3,4)
print(r)

7

In [39]:
# 사용자 입출력(input/print)
a = input()

type(a)

123

str

In [40]:
a = int(input())

type(a)

123

int

In [43]:
#숫자를 입력받아서 그 수자가 홀수 인지 짝수인지 판별하는 함수를 만들어 보자
def chk():
  num = int(input())
  if num % 2 ==0 :
    print("짝수입니다.")
  else:
    print("홀수입니다.")
chk()

5
홀수입니다.

In [50]:
#입력으로 들어오는 모든 수의 평균을 구하는 함수
def avg(*args):
  sum = 0
  for i in args:
    sum += i
  return sum / len(args)

avg()

SyntaxError: ignored

In [53]:
def add_mul(choice, *args):
  if choice == "add":
    result = 0
    for i in args:
      result += i
  elif choice == "mul":
    result = 1
    for i in args:
      result *= i
  return result

print(add_mul("add", 1,2,3,4,5,6,7))
print(add_mul("mul", 1,2,3,4))

28
24

In [ ]:
# 파일 읽고 쓰기.

# 파일 생성
f = open("파일 이름.txt", 'w')
f.close()


# w 쓰기    r 읽기    a 추가

In [56]:
f = open("새파일.txt", 'w')
for i in range(1, 11):
  data = "%d번째 줄입니다. \n " %i
  f.write(data)
f.close